<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to E-Sheba</title>
    </head>
    <body>
        <header>
            <div class="container">
                <nav>
                    <a href="index.html" aria-label="click here to go on home page"><img src="./assets/images/e-sheba-logo.svg" alt="E-Sheba logo"></a>
                    <ul type="none" class="nav-list">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Application</a></li>
                        <li><a href="javascript: void(0)">History</a></li>
                    </ul>
                    <div class="btn-group">
                        <a href="#">Log in</a>
                        <a href="#">Sign up</a>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <section class="banner">
                <div class="container">
                    <div class="wrapper">
                        <div class="left-content">
                            <h1>Find & Search Your <span>Favourite</span> Doctor</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sem velit viverra amet faucibus.</p>
                            <form action="" method="get">
                                <div class="form-group">
                                    <img src="./assets/images/profile-circle.svg" alt="profile icon">
                                    <select name="doctor" id="doctor">
                                        <option value="">Doctor's Name</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <img src="./assets/images/location-circle.svg" alt="location icon">
                                    <select name="doctor" id="doctor">
                                        <option value="">Location</option>
                                    </select>
                                </div>
                                <button type="submit" aria-label="click here to search for doctor">
                                    <img src="./assets/images/search.svg" alt="search icon">
                                </button>
                            </form>
                        </div>
                        <div class="right-content">
                            <figure>
                                <img src="./assets/images/banner-doctor.png" alt="doctor image">
                            </figure>
                            <img src="./assets/images/half-ellips.png" alt="half ellips in blue shade as background of doctor's image">
                        </div>
                    </div>
                </div>
                <div class="stats">
                    <div class="container">
                        <div class="left-content">
                            <div class="stat">
                                <strong>24/7</strong>
                                <p>Online Service</p>
                            </div>
                            <div class="stat">
                                <strong>100+</strong>
                                <p>Doctors</p>
                            </div>
                            <div class="stat">
                                <strong>1M+</strong>
                                <p>Active Patients</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="consulting-specialists">
                <div class="container">
                    <h2>Consulting Specialists</h2>
                    <div class="wrapper">
                        <div class="card">
                            <div class="icon">
                                <img src="./assets/images/covid-19-icon.svg" alt="covid-19 icon">
                            </div>
                            <div class="content">
                                <h3>Covid-19 Test</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sem velit viverra amet faucibus.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="icon">
                                <img src="./assets/images/lungs-icon.svg" alt="lungs icon">
                            </div>
                            <div class="content">
                                <h3>Heart & Lungs</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sem velit viverra amet faucibus.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="icon">
                                <img src="./assets/images/suppliments.svg" alt="suppliments icon">
                            </div>
                            <div class="content">
                                <h3>Suppliment</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sem velit viverra amet faucibus.</p>
                            </div>
                        </div>
                        <div class="card">
                            <div class="icon">
                                <img src="./assets/images/mental-health-icon.svg" alt="mental health icon">
                            </div>
                            <div class="content">
                                <h3>Mental Health</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sem velit viverra amet faucibus.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </main>
    </body>
</html>